*{
    padding: 0;
    margin: 0;
    background-color: #4a4a48;
    color: aliceblue;
    font-family: "poppins",sans-serif;
   
}

.navbar img{
height: 100px;
width: 210px;
margin-top:-9px;
margin-left: 10px;
}

.navbar-toggler{
    visibility: hidden;
}
.maintext{
    padding: 50px;
}

.navbar a{
    color: #25D366;
    background-color:black ;
}
.navbar a:hover{
color: aliceblue;
}
.navbar{
    background-color: black;
    width:auto;
    font-family: "Poppins",sans-serif;
    height: 100px;

}
.navl-list{
    padding: 10px;
    margin-left: 10px;
    background-color: black;
}
.navbar button{
    background-color: #25D366;
    margin-right: 20px;
}
.shopNow-btn button{
    background-color: #25D366;
    color: black;
    padding: 8px;
    border-radius: 6px;
    border-style: hidden;
}
.shopNow-btn{
    align-items: center;
    text-align: center;
}

.shopNow-btn button:hover{
    color: aliceblue;
}

.text-color{
    color: #25D366;
}

#cont-card img{
    height: 400px;
    width: 350px;
    filter:brightness(75%);
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
    transition:0.5s;
}
#cont-card img:hover{
    transform: scale(1.1);
}

#cont-card{
    text-align: center;
    justify-content: space-around;

}
#top-selling-text h1{
    margin: 0;
    padding:0;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
    background-color: black;
    color: #25D366;
    padding: 20px;
    font-size: larger;
}

#cont-card h3{
    margin-top: 30px;
    margin-bottom: 30px;
}
#cont-card p{
    width:90%;
    padding: 18px;
    margin-left: 22px;
}

.hr{
    margin-top: 50px;
    padding: 10px;
}

.know-more-btn{
    color: #25D366;
    cursor: pointer;
}
.know-more-btn:hover{
    color: black;
}

.footer-sec p{
    color: white;
    background-color: black;
    border-style: solid;
    border-color:#25D366;
    padding: 30px;
    margin-bottom: 0px;
}


.footer-sec  {
    text-align: center;
}
.footer-span-1{
    margin-right: 50px;
    background-color: black;
}
.footer-sec span{
    background-color: black;
}

.footer-sec i{
    margin-left: 30px;
    
}
