*{
    padding: 0;
    margin: 0;
   
}

body img{
    width:100%;
    height: 750px;
    filter: brightness(30%);
    margin-top: -2.9px;
    
    
}
.navbar a{
    color: #25D366;
}
.navbar{
    background-color: black;
    width:auto;
    font-family: "Poppins",sans-serif;
    justify-content: space-around;
    height: 100px;

}
.navl-list{
    padding: 10px;
    margin-left: 20px;
}
.navbar button{
    background-color: #25D366;
    margin-right: 20px;
}

.navbar-1 a{
    text-decoration: none;
    text-align:left;
    padding: 15px;
    font-size: 18px;
    color:#25D366;
    transition: all,0.3s;
    justify-content: space-around;
}

.navbar a:hover{
    color:aliceblue;
}

.navbar-1  img{
    height:97px;
    width: 190px;
    filter: brightness(100%);
    float: right;
    margin-top: -72px;
    
} 

.navbar-1 ol{
    justify-content: center;
    text-align: left;
    align-items: center;
    padding-top: 50px;
}

.int-img p{
    color: aliceblue;
    margin-top: -390px;
    filter: brightness(100%);
    font-size: 29px;
    font-family: "poppins",sans-serif;
    text-align: center;
    font-size: small;
}

.shopNow-btn{
    display:block;
    text-align: center;
    filter: brightness(100%);
    padding: 10px;
}
.shopNow-btn button{
    padding: 10px;
    font-family:"poppins",sans-serif;
    font-size: 10px;
    background-color: #25D366;
    color: black;
    font-size: 14px;
    cursor: pointer;
    border-style: none;
    border-radius: 6px;
    margin-top: 10px;
}

.int-img button:hover{
    color: aliceblue;
}

.top-selling{

    width: auto;
    margin-top: 110px;
    background-color:rgb(255, 255, 255);
}

.top-selling h1{
    filter: brightness(100%);
    color:#25D366;
    text-align: center;
    padding: 20px;
    font-family: "poppins",sans-serif;
    font-size: 18px;
    background-color: black;
    margin-top: 10px;
}

.card-box{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    
}
.card img{
    margin-top: 0.1px;
    height: 350px;
    width: 300px; 
    border-radius: 20px;
    filter: brightness(100%);
    z-index: -1; 
}
.card{
    margin: 20px;
    height: 350px;
    width: 300px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(130, 129, 131);
    transition: 0.6s;
    margin-bottom: 100px;
    cursor: pointer;
}
.buynow-btn button{
    background-color:rgb(0, 4, 255);
    
    
}

.card h3{
   position: absolute;
   margin-top: -50px; 
   justify-content: center;
   margin-left: 70px;
   color: rgb(0, 0, 0);
   font-family: "poppins",sans-serif;
   background-color:#25D366;
   padding: 0px 28px;
   border-radius: 10px;
   font-size:16px;
   transition: 0.8s;
}

.card:hover{
    transform: scale(1.1);
    
    border: bottom 0px; 
}

.card-text{
    height: 120px;
    width: 300px;
    margin-left: 0px;
    box-sizing: border-box;
    position: absolute;
    background-color:black;
    visibility: hidden;
    margin-top: -180px;
}

.card-text p{
    color:aliceblue;
    background-color:black;
    padding: 10px;
    transition: 0.8s;
    
}

.card:hover p {
    visibility: visible;
}
.card:hover h3{
    display: none;
}

.footer-sec{
    padding: 20px;
    margin-top: px;
    background-color: black;
    color:#25D366;

}
.footer-sec p{
    padding: 10px;
    font-family: "poppins",sans-serif;
    font-size: 15px;
}



/* -------- products page styling starts -------- */

.nav_link::after{
    color: darkblue;
}